* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
  }
  

body {
    font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}


.window{
    text-align: center;
    margin: 0;
    
}

.modal { 
    
    z-index: 998;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: flex;

    animation: modal 2s 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
}

.conten img{
    width: 400px;
}
.conten{
    width: 40%;
    height: 40%;
    margin: auto;
    background: #fff;
    border-radius: 12px;
}

#cerrar {
    display: none;
}

#cerrar + label{
    position: fixed;
    color: #fff;
    font-size: 30px;
    z-index: 999;
    background: rgb(0, 204, 255);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 28%;
    top: 26%;
    cursor: pointer;

    animation: modal 2s 3s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
    display: none;
}

@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
    }
}